<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>A&W-landinge Bootstrap Website Template | Home :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
 <!-- Custom files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
 <!-- Custom  files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!----webfonts---->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Raleway:400,100,300,500,600,700,800,900,200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700,800,900,200' rel='stylesheet' type='text/css'>
<!----//webfonts---->
</head>
<body>
	<!----wrap---->
		<div class="top-bannar" id="move-top">
			<div class="container"> 
				<div class="top-header row">
					<!---logo--->
				<div id="sb-search" class="sb-search">
					<form>
						<input type="text" class="sb-search-input" id="search" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
					</form>
				</div>
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
					<script>
						new UISearch( document.getElementById( 'sb-search' ) );
					</script>
					<!---//logo--->
					<!--top-nav---->
					<div class="top-nav">
						<div class="nav-icon">
					    <a href="#" class="right_bt" id="activator"><span> </span> </a>
						</div>
						 <div class="box" id="box">
							 <div class="box_content">        					                         
								<div class="box_content_center">
								 	<div class="form_content">
										<div class="menu_box_list">
											<ul>
												<li><a href="#home"><span>home</span></a></li>
												<li><a href="#features"><span>Features</span></a></li>
												<li><a href="#works"><span>Works</span></a></li>
												<li><a href="#gallery"><span>Gallery</span></a></li>
												<li><a href="#testimonials"><span>Testimonials</span></a></li>
												<li><a href="#contact"><span>Contact</span></a></li>
												<div class="clearfix"> </div>
											</ul>
										</div>
										<a class="boxclose" id="boxclose"> <span> </span></a>
									</div>                                  
								</div> 	
							</div> 
						</div>       	  
					</div>
					<!---start-click-drop-down-menu----->
			        <!----start-dropdown--->
			         <script type="text/javascript">
						var $ = jQuery.noConflict();
							$(function() {
								$('#activator').click(function(){
									$('#box').animate({'top':'0px'},900);
								});
								$('#boxclose').click(function(){
								$('#box').animate({'top':'-1000px'},900);
								});
							});
							$(document).ready(function(){
							//Hide (Collapse) the toggle containers on load
							$(".toggle_container").hide(); 
							//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
							$(".trigger").click(function(){
								$(this).toggleClass("active").next().slideToggle("slow");
									return false; //Prevent the browser jump to the link anchor
							});
												
						});
					</script>
					<!---//End-click-drop-down-menu----->
					<!--top-nav---->
					<div class="clear"> </div>
					<!---header-welcomenote--->
					<div class="col-md-12 header-welcome-note">
						<div class=" col-md-6 welcome-note-left">
							<span class="divice12"><img src="images/divice.png" alt="" /></span>
								<h1><a href="#">A & W</a></h1>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
									<ul class="button">
										<li><a class="active" href="#">Download</a></li>
										<li><a href="#">Learn More</a></li>
									</ul>
						</div>
						<div class="col-md-6 welcome-note-right">
								<img src="images/divice.png" alt="" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<!---//header-welcomenote--->
				</div>
				</div>
		</div>
		<!---start-content--->
		<div  class=" features" id="features">
				<div class=" row superb-feature">
					<h2>Check out the superb features</h2>
					<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.</p>
				</div>
		</div>
			<div  class="works" id="works">	
					<!----start-works---->	
						<div class="content_top">	
							<div class="container">	
								<div class="row content_main">															 			
					                <div class="app_img col-md-5">				                
							         	 	<img src="images/black-phone.png" alt="">
					 	 	 		</div> 
						 			 <div class="app_desc img col-md-7">      
					                   <h3>Login page with social signups</h3>
					                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum  sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
					                 </div>     
				     		 		<div class="clearfix"> </div>
				     		 	</div>  
				     		 </div> 					              		    				    					                      			   							
						</div>		   		   				    		    					
  		    			<div class="content_bottom">
  		    				<div class="container ">
  		    				 <div class=" row devices- main">	
	  		    			     <div class=" col-md-7 devices_desc">
						  		  	    	 <h3>Todays' menus</h3>
						  		  	    	   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						  		  	</div> 		
						  		  	<div class="col-md-5 devices">
		  		  	    				<img src="images/black-phone2.png" alt="">	
		  		  	    				 <div class="clearfix"> </div>  		  		  	     
						  		   </div>	
						  		 </div> 
						  		</div>  	    																 				 	
		  				 </div>  
		  			 </div> 
		  				 <!---start-our story----->
		<div  class="gellery" id="gallery">
				<div class="our-story">
					<p>Check out</p>
					<h4>App Gallery</h4>
				</div>	
			<div class="group_2" id="Portfolio">
				<div class="group_2_items">
						<div class="container">
					<div id="owl-demo1" class="owl-carousel">
						
						<div class="item">
							<div class="carousel">
						  	   <div class="group_2_img1">
									<img src="images/slider.png" alt="">
								</div>
							 </div>
						</div>	
					<div class="item">
						<div class="carousel">
					  	    <div class="group_2_img1">
									<img src="images/slider.png" alt="">
							</div>
						 </div>
					</div>	
					<div class="item">
						<div class="carousel">
					  	    <div class="group_2_img1">
								<img src="images/slider.png" alt="">
							</div>
						 </div>
					</div>
					<div class="item">
						<div class="carousel">
					  	    <div class="group_2_img1">
									<img src="images/slider.png" alt="">
							</div>
						 </div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- Owl Carousel Assets -->
		<link href="css/owl.carousel.css" rel="stylesheet">
		     <!-- Owl Carousel Assets -->
		    <!-- Prettify -->
		    <script src="js/owl.carousel.js"></script>
		        <script>
		    $(document).ready(function() {
		
		      $("#owl-demo").owlCarousel({
		        items : 1,
		        lazyLoad : true,
		        autoPlay : true,
		        navigation : true,
			    navigationText : ["",""],
			    rewindNav :true,
			    scrollPerPage :true,
			    pagination : true,
    			paginationNumbers: false,
		      });
		
		    });
		    $(document).ready(function() {
		
		      $("#owl-demo1").owlCarousel({
		        items : 1,
		        lazyLoad : true,
		        autoPlay : true,
		        navigation : true,
			    navigationText : ["",""],
			    rewindNav : true,
			    scrollPerPage :true,
			    pagination : false,
    			paginationNumbers: false,
		      });
		
		    });
		   
		    </script>
			<!--start-testimonials-->
			<!---/start-text-slider----->
		<div  class="testimonials" id="testimonials">
			 <div class="wmuSlider example1">
		 	<div class="container-flueid">
			   <article style="position: absolute; width:64%; opacity: 0;"> 
				   	
					<div class=" cont span_2_of_3 client-main">
						 	<div class="client">
			  	    			<img src="images/client.png" alt="">
							</div>
							<div class="client-des">
							       <h4>Alif noor</h4>
									<p>Love this app!gravida proin nibh vel velit autor.Aenean sollicitudin,I am an experienced and passionate user interface designer with interaction design background.Lorem ipsum has been the printing and typesetting industry's standard dummy text ever since the 500..</p>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				</article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class=" cont span_2_of_3  client-main">
						 	<div class="client">
			  	    			<img src="images/client3.jpg" alt="">
							</div>
							<div class="client-des">
							    <h4>Alif noor</h4>
								<p>Love this app!gravida proin nibh vel velit autor.Aenean sollicitudin,I am an experienced and passionate user interface designer with interaction design background.Lorem ipsum has been the printing and typesetting industry's standard dummy text ever since the 500.</p>
						  			<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
				 <article style="position: absolute; width:64%; opacity: 0;"> 
				   	<div class="cont span_2_of_3  client-main">
						 	<div class="client">
			  	    			<img src="images/client2.jpg" alt="">
							</div>
							<div class="client-des">
							      <h4>Alif noor</h4>
									<p>Love this app!gravida proin nibh vel velit autor.Aenean sollicitudin,I am an experienced and passionate user interface designer with interaction design background.Lorem ipsum has been the printing and typesetting industry's standard dummy text ever since the 500.</p>
						  	<span> </span>
						 	</div>
						 	<div class="clearfix"> </div>  
					</div>
				 </article>
		 
                  <script src="js/jquery.wmuSlider.js"></script> 
					<script>
       				     $('.example1').wmuSlider();         
   					</script> 	           	      
	         </div>
	     </div>
	 </div>
	 <!---//text-slider----->
<!-- //end-testimonials-->
<!---/contact----->
	 <div  class="contact" id="contact">
	 			<div class=" row newsletter">
	 				<div class="col-md-6 newsletter-left">
	 						<h5> Sign upto our Newsletter</h5>
	 						<p> stay par with our News and updates</p>
	 				</div>
	 				<div class="col-md-6 newsletter-right">
	 						<form>
	 							<div class="col-md-3 text-box pull-left">
									<input type="text" placeholder="Email" />
								</div>
								<div class="col-md-3 text-box pull-left">
									<input type="text" placeholder="Name" />
								</div>
								<div class="clearfix"> </div>  
	 							<div class="con-button">
	 								<input type="submit" onclick="myFunction()" value="SubScribe" >
	 							</div>
	 						</form>
	 				</div>
	 					<div class="clearfix"> </div>  
	 			</div>
	 		</div>
		<!---//contact----->
			<!-- /footer-->
			<div class="footer">
				<div class="footer-content">
					<div class="footer-main">
						<div class="footer-left col-md-6">
							<h6>A&W APP</h6>
						</div> 
						<div class="footer-right col-md-6">
							<div class="footer-button"><a href="#">download</a></div>
						</div> 
						<div class="clearfix"> </div>  
					</div> 
					<div class="social-icons">
							<ul class="top-social-icons" list-unstyled>
										<li> <a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
										<li> <a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
										<li> <a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a> </li>
										<li> <a class="youtube simptip-position-bottom simptip-movable" data-tooltip="Youtube" href="#"> </a> </li>
										<li> <a class="vimeo simptip-position-bottom simptip-movable" data-tooltip="Vimeo" href="#"> </a> </li>
											<div class="clearfix"> </div>  
									</ul>
					</div>
							<div class="col-md-12 copy-right">
								<p> &#169; 2014 All Rights Reserved | Template by &nbsp;<a href="http://w3layouts.com">W3Layouts</a></p>
							</div>
				</div>
			</div> 
				<!-- //footer-->
				 <a href="#move-top" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
				<!---smoth-scrlling---->
									<script type="text/javascript">
											$(document).ready(function(){
											$('a[href^="#"]').on('click',function (e) {
											    e.preventDefault();
											    var target = this.hash,
											    $target = $(target);
											    $('html, body').stop().animate({
											        'scrollTop': $target.offset().top
											    }, 1000, 'swing', function () {
											        window.location.hash = target;
											    });
											});
										});
									</script>
							<!---//smoth-scrlling---->

</body>
</html>