<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Guardian Angel</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/guardian-angel.css">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/test.js">

  </script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="image">
    <img src="images/homeless.jpg" alt="">
    <div class="title">
      <h1>Too many people live like this.</h1>
      <h2>We're going to make a difference.</h2>
    </div>
  </div>

  <div class="tablet-break">
    <img src="images/loading-icon.png" alt="">
    <div class="">
      <h3>Become a GuardianAngel</h3>
      <h4>Want to help?</h4>

      <p>Have you ever wanted to try to help someone in need but didn't know how? They might need medical help, clothes, or food. Our application is here to give people a place to post for those in need and connect them to those who want to help.
      </p>
      <a href="https://github.com/hkumar1993/Guardian-Angel">
        <img class="gh-logo" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="">
      </a>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="one-half large-margin">
        <h4>Try a Demo</h4>
      </div>
      <div class="one-half column" >
        <iframe src="https://appetize.io/embed/hvywz01u0zzq3vq4vvygg16b10?device=iphone6&scale=75&autoplay=false&orientation=portrait&deviceColor=black" width="312px" height="653px" frameborder="0" scrolling="no"></iframe>
      </div>

    </div>

    <div class="row static-height">
      <div class="one-half column large-margin">
        <div class="screen-shot">
          <img src="images/home_screen.png" alt="">
        </div>
      </div>
      <div class="one half column large-margin">
        <div class="screen-shot">
          <img src="images/messages_screen.png" alt="">
        </div>
      </div>
    </div>
  </div>


</body>
</html>
