<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Guardian-Angel</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/guardian-angel.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="container">
    <div class="row static-height">
      <div class="one-half column" style="margin-top: 20%">
        <img class="logo" src="images/loading-icon.png" alt="">
      </div>
      <div class="one-half column large-margin">
        <h4>Want to help?</h4>

        <p>Have you ever wanted to try to help someone in need but didn't know how? They might need medical help, clothes, or food. Our application is here to give people a place to post for those in need and connect them to those who want to help.
        </p>
        <a href="https://github.com/hkumar1993/Guardian-Angel">
          <img class="gh-logo" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="">
        </a>
      </div>
    </div>

    <div class="bg-image-tent">
      <div class="row">
        <div class="one-half column large-margin" >
          <h4 style="margin-top: 20%">Try a Demo!</h4>
        </div>
        <div class="one-half column" style="margin-top: 20%">
          <iframe src="https://appetize.io/embed/hvywz01u0zzq3vq4vvygg16b10?device=iphone6&scale=75&autoplay=false&orientation=portrait&deviceColor=black" width="312px" height="653px" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>

    <div class="row static-height">
      <div class="one-half column large-margin">
        <div class="screen-shot">
          <img src="images/home_screen.png" alt="">
        </div>
      </div>
      <div class="one half column large-margin">
        <div class="screen-shot">
          <img src="images/messages_screen.png" alt="">
        </div>
      </div>
    </div>
  </div>


</body>
</html>
